<html>
<head>
	<title>travlr</title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="logo">
				<img src="../assets/travlr_logo_cropped_small.png">
			</div>
			<div class="text">
				Username:
			</div>
			<input type="text" id="uname" name="uname">
			<div class="text">
				Password:
			</div>
			<input type="password" id="pword" name="pword">
			<div class="button-wrapper">
				<button class="button signup-button">Sign Up</button>
				<button class="button login-button">Log In</button>
			</div>
		</div>
	</div>
</body>
</html>